*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NavBar*/
.navColor{
  background: #526D82;
}

/*For Page Backgroudn*/
body{
  background: url("https://img.freepik.com/free-photo/black-white-photo-building-corner_250224-121.jpg?size=626&ext=jpg&ga=GA1.2.1956474134.1683778594&semt=ais");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/*.bg-container body{
  background-color: rgba(0,0,0,0.5);
  min-height: 100vh;
}
*/
.textClr{
  color: #F1F6F9;
}